<h1>Log in</h1>

<form action="/login" method="POST">
    <input type="text" name="username" placeholder="UserName">
    <input type="password" name="password" placeholder="Password">
    <button type="submit">Submit</button>
</form>